<style>
    #alumniSearchResults .mdl-card{
      width: auto;
      max-width: 320px;
    }
  </style>
  <div ng-controller="SearchCtrl">
      <div>
        <form method="GET" action="" onsubmit="return false">
                <div id="blogSearch" class="contentCenter">
                  <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
                    <tbody>
                      <tr>
                        <td>
                          <input type="text" type="search" id="alsearch" required="true" name="q" ng-model="searchString" placeholder="Alumni Search" />
                        </td>
                        <td>
                          <button  type="submit"
                                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Search
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </form>
    </div>
    <div id="alumniSearchResults" ng-if="searchString" class="posts-container hide">
      <div class="mdl-card mdl-shadow--4dp" ng-if="items.length > 0"
           ng-repeat="i in items | filter:searchString">
        <div class="mdl-card__supporting-text">
          <div><h6>{{i.Name}}</h6></div>
          <div><b>Batch: </b>{{i.Batch}}</div>
          <div><b>Location: </b>{{i.Location}}</div>
          <div><b>Profile: </b>{{i.Profile}}</div>
          <div><b>Designation: </b>{{i.Designation}}</div>
          <div><b>Organisation: </b>{{i.Organisation}}</div>
          <div><b>Institute: </b>{{i.Institute}}</div>
          <div><b>Degree: </b>{{i.Degree}}</div>
        </div>
      </div>
    </div>
    <div id="alumniSearchError" class="contentCenter hide" ng-if="(items|filter:searchString).length == 0">
      <h6>Oops! No matching results found 😏 </h6>
    </div>
  </div>
  
  <script>
      document.getElementById("alumniSearchResults").classList.remove("hide");
      document.getElementById("alumniSearchError").classList.remove("hide");
  </script>
  