html,
body {
  font-family: "Roboto", "Helvetica", sans-serif;
  padding: 0;
}

.demo-avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: auto;
}

.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}

.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.demo-drawer {
  border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}

.demo-drawer .demo-navigation {
  z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  padding-bottom: 7px !important;
  text-align: center;
  margin-bottom: 10px;
}

.avatar-heading {
  font-size: 24px !important;
  padding-top: 14px;
}

.avatar-subheading {
  font-size: 14px !important;
  padding-top: 6px;
  color: #000000;
  opacity: 0.5;
  letter-spacing: .01071em;
}

.demo-navigation {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.demo-content {
  max-width: 100%;
  margin: 74px;
}

.demo-cards {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.demo-cards .demo-separator {
  height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.demo-cards ul {
  padding: 0;
}

.demo-cards h3 {
  font-size: 1em;
}

.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url("images/dog.png");
  background-position: 90% 100%;
  background-repeat: no-repeat;
}

.demo-cards .mdl-card__actions a {
  color: #00bcd4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}

.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}

.demo-options ul {
  margin: 0;
  list-style-type: none;
}

.demo-options li {
  margin: 4px 0;
}

.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*New CSS*/
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url("/static/images/logo.jpg") center / cover;
  margin: 10px;
  float: left;
}

.demo-card-image>.mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.demo-card {
  background-color: white;
  color: #37474f;
  width: 100%;
}

.abt-card {
  padding: 15px;
  border-radius: 4px;
}

.pad-top-nil {
  padding-top: 0;
}

.social-img {
  padding: 5px;
}

.mg-rt-10 {
  margin-right: 10px;
}

/*Search Page*/
.height-auto {
  height: auto !important;
}

.srchbx {
  height: 40px;
  width: 100%;
  max-width: 300px;
  padding-top: 6px;
  font-size: 16px;
  font-family: roboto;
  border: none;
  border-radius: 2px;
}

.srchbtn {
  padding-bottom: 5px;
  display: none;
}

#alsearch {
  padding-left: 10px;
}

.mdl {
  vertical-align: middle;
}

/*Media and Links Page*/
.collections>div>ul>li>a {
  color: inherit;
  text-decoration: none;
}

.collections>div>ul>li {
  line-height: 28px;
}

.collections>div>ul {
  list-style-type: none;
}

.mdl-navigation {
  padding-top: 20px !important;
}

footer {
  height: 62px;
}

.socialicon {
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.socialicon>svg {
  fill: #757575;
  height: 24px;
  width: 24px;
}

#advsrch {
  float: right;
  background-color: #ccffff;
  border-radius: 3px;
  text-decoration: none;
  padding: 0px 3px;
  margin-top: 20px;
}

#advsrch a {
  text-decoration: none;
}

#srchbox {
  width: 89%;
  float: left;
}

@media (max-width: 640px) {
  #advsrch {
    display: none;
  }
}

.share li {
  padding-top: 15px !important;
}

#divPost>div {
  margin-right: 15px !important;
}

/* END of custom CSS */

h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

h2 {
  font-size: 23px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

h5 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

h6 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

p,
li,
ul {
  text-align: justify;
  font-size: 16px;
  letter-spacing: 0.00938em;
}


.mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row {
  padding-left: 55px;
}

.mdl-layout__header-row .mdl-navigation__link {
  line-height: 50px;
}

.mdl-layout__drawer {
  margin-top: 0px;
  height: calc(100vh);
  position: fixed;
}

.mdl-layout__header{
  position: fixed;
}

@media screen and (min-width: 1025px) {
  .mdl-layout__drawer-button {
    display: none;
  }

  .mdl-layout__drawer {
    margin-top: 64px;
    height: calc(100vh - 64px);
  }

  .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    width: 100%;
    margin-left: 0px;
  }

  .mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row {
    padding-left: 24px;
  }
}

.mdl-layout__drawer {
  background-color: #ffffff;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: #ffffff;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  line-height: 1.43;
  padding: 12px 40px;
  color: #5f5f5f;
  font-weight: 450;
  font-size: 16px;
}

.mdl-layout {
  position: fixed;
}

hr {
  width: 85%;
  align-self: center;
  margin: 0px;
  color: rgba(0, 0, 0, 0.12);
}

.logo {
  height: 44px;
  padding-top: 1px;
  padding-right: 10px;
}

#pgTitle {
  font-size: 24px;
  letter-spacing: 0em;
}

.mdl-layout__content {
  background-color: #f5f5f5;
  min-height: calc(100vh - 64px);
}

.nav-footer {
  width: 100%;
  min-width: 100%;
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 7%;
}

.nav-footer>div {
  align-self: center;
  padding-left: 15%;
}

.mdl-menu li a {
  color: #757575;
  text-decoration: none;
}