<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html
  b:version="2"
  class="v2"
  expr:dir="data:blog.languageDirection"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:b="http://www.google.com/2005/gml/b"
  xmlns:data="http://www.google.com/2005/gml/data"
  xmlns:expr="http://www.google.com/2005/gml/expr"
  xmlns:og="http://ogp.me/ns#"
>
  <head>
    <meta charset="UTF-8" />
    <title><data:blog.title /></title>
    <b:skin><![CDATA[ 
        .post-footer {
          display: none;
        }
        .blog-pager {
            display: none;
        }
        .blog-feeds{
            display: none;
        }
    ]]></b:skin>
  </head>

  <body>
    <div id="wrapper">
      <section id="outer-wrapper">
        <article id="article-wrapper">
          <b:section class="main" id="main">
            <b:widget
              id="Blog1"
              locked="true"
              title="Blog Posting"
              type="Blog"
            ></b:widget>
          </b:section>
        </article>
      </section>
    </div>
  </body>
</html>
